body{
    background-color: #f1f2e9;
}
h1{
    color: #5c878c;
    text-align: center;
}
h2{
    color: #d98282;
    text-align: center;
}
#starfield {
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: 0.6%;
    margin-top: 30px;
    position: absolute;
}
#main-content {
    width: 520px;
    height: 650px;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: #2e4f4f;
}
#error{
    color: red;
}
.hidden{
    display: none;
}
.star {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    background-color: yellow; /* Color of the star */
    clip-path: polygon(
    50% 0%,
    61.8% 35%,
    100% 35%,
    69.1% 57.5%,
    79.4% 91%,
    50% 70%,
    20.6% 91%,
    30.9% 57.5%,
    0% 35%,
    38.2% 35%
    );
  }