:root{
    --red1: 0;
}

body{
    background-color: #f1f2e9;
}
#Assignments{
text-align: center;
color: #5e8b94;
}
#Main-content{
    background-color: #f2f0d5;
    width: 500px;
    height: fit-content;
    margin: auto;
    border: 1px solid #799ba5;
}
#Main-content p{
    margin: auto;
    text-align: center;
    padding-top: 5%;
    font-size: 25px;
    color: #5e8b94;
}
#Main-content-color{
    background-color: rgb(var(--red1) 0 0);
    width: 500px;
    height: fit-content;
    margin: auto;
}
#Main-content-color p{
    margin: auto;
    text-align: center;
    padding-top: 5%;
    font-size: 25px;
    color: white;
}
#myRange{
    width: 80%;
    accent-color: red;
}

#IF{
    text-align: center;
    color: #d98282;
}
#main-nav a{
    text-decoration: none;
    color: #799ba5;
    padding: 5px;
}
#main-nav li{
    list-style-type: none;
    padding: 5px;
    text-align: center;
}
#nav-button{
    background-color: #f1f2e9;
    border: none;
    font-size: 25px;
}
#nav-button :hover{
    background-color: #5e8b94;
    color: #d98282;
}
.hidden{
    display:none;
}
.hidden-small{
    display: none;
}

#main-footer{
    text-align: center;
    color: #5e8b94;
}
#pics{
    display: block;
    margin: auto;
}

@media only screen and (min-width: 600px) {
    #main-nav li {
        flex: 1;
    }
    #Main-content{
        flex: 1;
    }
    .columns {
        display: flex;
    }
    #toggle-nav{
        display: none;
    }
    .hidden-small {
        display: flex;
    }
}