/*Structure*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 100%;
}


/*Header*/
#top-logo{
    padding-left: 0px;
}
#main-header{
    background-color: black;
}

/*Navs*/
#Gateways ul{
    text-align: right;
    max-width: 50%;
    padding-inline-start: 50%;
}
#Gateways li{
    list-style: none;
    color:white;
    font-size: 11px;
}
#Gateways a { 
    text-decoration: none;  /* no underline */
    color:white;
    padding:2px;
    margin:5px;
    border-radius:2px;
}
#Gateways a:hover{
    background-color: #a52534;
    color: white;
}

#main-nav{
    max-width: 95%;
}
#main-nav ul{
    padding-left: 100px;
    padding-right: 100px;
}
#main-nav li{
    list-style: none;
    text-align: center;
}
#main-nav a{
    text-decoration: none;
    color: white;
}
#main-nav a:hover{
    background-color: #cc2e40;
    padding: 2px;
}
#nav{
    background-color: #73000a;
    padding: 3px;
}

#main-image{
    height: 100%;
    width: 100%;
}

/*Div*/
#GradSchool{
    background-color: #73000a;
    color: white;
    display: inline-block;
    max-width: fit-content;
    position: absolute;
    left: 5%;
}
#searchBox{
    border: solid 1px white;
    max-width: fit-content;
    padding-right: 140px;
    color: white;
    position: absolute;
    top: 85px;

}
#Grad{
    background-color: white;
}

/*Media*/
@media only screen and (min-width:850px){
    .columns {
      display: flex;
    }

  .one{
      flex:1;
  }

  .two{
      flex:2;
  }

  .three{
      flex:3;
  }

  .four{
      flex:4;
  }

  #main-nav li{
      flex:1;
  }
  #Gateways li{
    flex:1;
  }
  #top-logo{
    padding-left: 150px;
  }
  #searchBox{
    top: 55px;
    right:70px;
  }

}